label{
  font-weight: 500;
}
input[type=number]:focus {
  border: 2px solid #E11444;
  outline: none;
}
.input{
  font-size: 20px;
  width:180px;
  font-weight: 500;
}
.dollar{
    background-image: url("./assets/images/dollar.svg");
    background-position: left center;
    background-repeat: no-repeat no-repeat;
    padding-left:1px !important;    
}
.percentage{
  background-image: url("./assets/images/percentage.svg");
  background-position: right center;
  background-repeat: no-repeat no-repeat;
  padding-right:12px !important;
}
.range-input{
  display: block;
  width:450px;
  cursor: pointer;
  accent-color: #E11444;
  outline: none; 
}

@media only screen and (max-width: 540px){
  label{
    max-width: 120px;
    padding-left: 30px;
    /* margin-left: 10px; */
  }
  .input{
    width: 150px;
    margin-left: 30px;
  }
  
  hr{
    width: 320px;
    margin-left: 60px;
  }
  .range-input{
    max-width: 300px;
    margin-left: 30px;
  }
  .percentage{
    padding-right:25px !important;
  }
  .container{
    margin-bottom: 100px;
  }
}
